               
               
               
            .mobileform
                                
                
                .home__slide.home--slide6#slide6
                    .home__slide__slider-tab
                        .middle
                            .content
                                form.home__slide__article
                                    h2.home__slide__article_title.home__slide__article_title--form-mobile Для окончания вашей <br> регистрации введите <br> ваше имя        и номер телефона
                                    .home__slide__article__form
                                        input.home__slide__article__form_input(placeholder="Введите ваше имя" required)
                                        input.home__slide__article__form_input(placeholder="Введите ваш телефон" required)
                                        .button-block
                                            input.button.home__slide__article__form_button(type="submit" value="отправить")
                                    p.home__slide__article__form-desc <i class="home__slide__article__form-desc_radio"></i> Подписатся на e-mail рассылку Школы         татуажа Елены Нечаевой
                            
                                    input.home__slide__article__form-desc_radio-hidden(type="checkbox")

            
                                    
                .mobiletanks
                
                .home__slide.home--slide7#slide7
                    .home__slide__slider-tab
                        .middle
                            .content
                                form.home__slide__article
                
                            .header__content.popupcall__tanks
                                .popupcall__tanks_icon
                                    img(src="static/img/general/tanks.png")
                                span.contacts__body_contact-title.contacts__body_contact-title--tanks.color-fff Спасибо! 
                                .home__slide__article_desc.color-black.home__slide__article_desc--no-margin.color-fff <b>Мы отправили письмо на вашу почту 123@12.ru.  подтвердите подписку</b>
           
                            
