mixin video(data)

    .video.clearfix
        .content
            .video__body
                iframe(width="100%" height="589" src="https://www.youtube.com/embed/4FdOdR-Kuys" frameborder="0" allowfullscreen)