// Common styles of the project

html, body
    height 100%
    margin 0
    padding 0
    background colbg


* {margin:0px; padding:0px; box-sizing: border-box}   
    
    
body
    font-size BASE_SIZE
    color FONT_COLOR
    line-height LINE_HEIGHT
    font-family fonttxt
    

    
.fadein
   animation: fadeBody 2s linear 1 forwards;

section,
header,
nav
    clearfix()
    
a
    cursor pointer
    font-size inherit
    text-decoration none
    
a:visited
    color inherit
    
.ssk-group
    a:visited
        color #fff
    
ul
    list-style-type none
    margin 0
    padding 0
    

.all-container
    background colbg
    min-height 1050px
    
.content
    position relative
    margin 0 auto
    display block
    max-width WRAPPER_WIDTH
    min-width 300px
    
    @media screen and (max-width: 1440px) 
        width 100%
        padding 0 20px

    
    @media screen and (min-width: 300px)  and (max-width: 599px) 
        width 100%
        padding 0 20px


.page__wrapper
    top 100%
    left 0px
    position absolute
    background #f8f8f8
    min-height 600px
    width 100%
    m-speed(.4s)
    @media screen and (max-width: 760px)
        position relative
        display block
        top 550px
        overflow hidden
        
    @media screen and (max-width: 580px)
        position relative
        display block
        top 310px
        overflow hidden
        

     
      
.call--active
    transform: translate(0, 380px);
    @media screen and (max-width: 1100px)
        transform: translate(0, 510px);
            
      
.call--active--wrapper
    transform: translate(0, 280px);
    
            

    
.no-slider
    top 0px
    
    

.wrapp--bott  
    @media screen and (max-width: 760px)
        top 1120px
    
    @media screen and (max-width: 580px)
        top 870px

    

    
h1,
h2,
h3,
h4
    font-weight 400
    
    
    
    
h2,
h3
    display block
    font-size 46px
    font-weight 400
    line-height 46px
    @media screen and (min-width: 300px) and (max-width: 599px)
        font-size 28px
        line-height 28px
    
    
h4
    font-size 28px
    line-height 34px
    font-family fonttxt2
    @media screen and (min-width: 300px) and (max-width: 599px)
        font-size 22px
        line-height 24px
    
 
article   
    
    h1,
    h2,
    h3,
    h4,
    h5
        display: inherit

        
    h2
        font-size 20px
            
    h3
        font-size 16px
                  
    h4
        font-size 16px

    
    li
        display block
        padding 5px 10px
        padding-left 15px
        position relative
        &:before
            content '';
            position absolute
            display block
            top 15px
            left 0px
            width 5px
            height 5px
            border-radius 50%
            background coltxt
    
    
     
            


        
        
input,
textarea
    border solid 1px #E6EAEA
    font-size 15px
    width 100%
    outline none
    resize none
    padding 20px 32px
    max-height 60px
    
    placeholder-color(coltxt)
    
    
    @media (max-width: 1000px)
        font-size 11px
        padding 14px 18px
        min-height 35px
            
    @media (max-width: 700px)
        font-size 11px
        padding 8px 10px
        min-height 35px
        
textarea
        height 150px
        

        
        
.desctop-content
    @media (max-width: 760px)
        display none
             
.mobile-content
    display none
    @media (max-width: 760px)
        display block
                    
        
.clearfix
    clearfix()
    
.color-black
    color #2d3031 !important
        
.color-fff
    color #fff !important
    
b
    font-family fontb

.fixforicon
    position relative
    display inline-block
    