mixin contacts(data)

    .contacts#contacts
        .contacts_maps-block#mapblock
        

            .contacts__body
                    .contacts__body_contact-title.align-left Контакты
                    .comments__comments-grid__item__body_txt Если у вас есть любые вопросы - не медлите, свяжитесь с нами! 
                    .comments__comments-grid__item__body_txt.color-black <b>Адрес:</b> г. Москва, метро Каховская. <br> Гостиничный комплекс "Берлин" , улица Малая Юшуньская 1, корпус 1, центральный вход ,17 этаж, офис 1705 
                    
                    a.contacts__body_contact-phone(href="tel:88005001827") <i class="phone14x14"></i> 8 (800) <b>500-18-27</b>
                    a.contacts__body_contact-mail(href="mailto:info@tatuazh-obuchenie.ru") info@tatuazh-obuchenie.ru
                    .contacts__body__social(href="mailto:info@tatuazh-obuchenie.ru") 
                        a.contacts__body__social_icon.facebook(href="#")
                        a.contacts__body__social_icon.vkcom(href="#")
                        a.contacts__body__social_icon.ok(href="#")
                        a.contacts__body__social_icon.youtube(href="#")
                        a.contacts__body__social_icon.insta(href="#")
                        
                    
            a.contacts__mapimage(href="#")
                img.contacts__mapimage(src="static/img/general/map.jpg" alt="Карта")
                    
                        
                    

            
        
        
        