mixin contacts(data)

    .contacts
        .contacts_maps-block#mapblock
        
        .content
            .contacts__body
                .contacts__body_contact-title.align-left Контакты
                .comments__comments-grid__item__body_txt Если у вас есть любые вопросы - не медлите, свяжитесь с нами! 
                .comments__comments-grid__item__body_txt.color-black <b>Адрес:</b> г. Москва, метро Каховская. <br> Гостиничный комплекс "Берлин" , улица Малая Юшуньская 1, корпус 1, центральный вход ,17 этаж, офис 1705 
            
        
        
        