mixin comments(data)

    .comments#comments
        .content
            .comments__comments-grid#mesonry
            
                .comments__comments-grid__item
                    .comments__comments-grid__item__body
                        .comments__comments-grid__item__body__title-block.clearfix
                            .comments__comments-grid__item__body_ava
                                img(src="static/img/general/ava.jpg")    
                            .comments__comments-grid__item__body__rank
                                .comments__comments-grid__item__body__rank_title Любовь Кискенен
                                .comments__comments-grid__item__body__rank_job Косметолог
                                .comments__comments-grid__item__body__rank_country <i class="mapy"></i> Литва
                                .comments__comments-grid__item__body__rank_country <i class="star20x19"></i> <i class="star20x19"></i> <i class="star20x19"></i> <i class="star20x19"></i> <i class="star20x19"></i>
                        .comments__comments-grid__item__body_txt Здравствуйте! Дистанционный курс ”штрих” оказался для меня - очень эффективным, я даже не ожидала такого положительного сдвига - результата в себе! Конечно приходилось не легко, страшно болели пальцы, в день уходило более 7 часов на выполнения заданий а иногда и больше. Зато теперь пальцы не болят и времени на штриховку уходит меньше. Спасибо девочкам - кураторам за комментирования всех моих ошибок! Теперь я могу штриховать без ошибок. Получение сертификата порадовало - ооочень! Спасибо Вам большое, Елена и Дмитрий!!!
                    

            
                .comments__comments-grid__item
                    .comments__comments-grid__item__body
                        .comments__comments-grid__item__body__title-block.clearfix
                            .comments__comments-grid__item__body_ava
                                img(src="static/img/general/ava.jpg")    
                            .comments__comments-grid__item__body__rank
                                .comments__comments-grid__item__body__rank_title Marina Zolotova
                                .comments__comments-grid__item__body__rank_job Косметолог
                                .comments__comments-grid__item__body__rank_country <i class="mapy"></i> Испания
                                .comments__comments-grid__item__body__rank_country <i class="star20x19"></i> <i class="star20x19"></i> <i class="star20x19"></i> <i class="star20x19"></i> <i class="star20x19"></i>
                        .comments__comments-grid__item__body_txt Srazu izvinius cto pisu latinskimi bukvami, prosto neimeju kirilici. A seicas o kurse i o Lenocke i Dime. Kurs super! Vo vse bazovije obucenija kurs Shtrix vkliucilabi obiazatelno! Na zivoi modeli ne razresilabi rabotat bez etogo kursa. Lenocka prosto umnica a Dima ochen vnimatelen. 100 ballov!!!...
                    


            
                .comments__comments-grid__item
                    .comments__comments-grid__item__body
                        .comments__comments-grid__item__body__title-block.clearfix
                            .comments__comments-grid__item__body_ava
                                img(src="static/img/general/ava.jpg")    
                            .comments__comments-grid__item__body__rank
                                .comments__comments-grid__item__body__rank_title Юляшка Черкасова
                                .comments__comments-grid__item__body__rank_job Косметолог
                                .comments__comments-grid__item__body__rank_country <i class="mapy"></i> Россия
                                .comments__comments-grid__item__body__rank_country <i class="star20x19"></i> <i class="star20x19"></i> <i class="star20x19"></i> <i class="star20x19"></i> <i class="star20x19"></i>
                        .comments__comments-grid__item__body_txt Когда только начала заниматься по дистанционному курсу, думала что никогда не смогу сделать так же как и Лена на видео!!! Рука болела жутко....Штриховать приходилось по-многу часов  в день...Но две недели занятий дали результаты!!!! А спустя еще две недели в руке появилась легкость, больше не было напряжения! Я очень довольна курсом. Работать стало легче и время на процедуру сократилось. Сейчас штрихую постоянно  и в удовольствие. На фото синей ручкой то,  как я штриховала в самом начале занятий,а черной сегодня. Спасибо за возможность расти  и становиться лучше!
                    


            
                .comments__comments-grid__item
                    .comments__comments-grid__item__body
                        .comments__comments-grid__item__body__title-block.clearfix
                            .comments__comments-grid__item__body_ava
                                img(src="static/img/general/ava.jpg")    
                            .comments__comments-grid__item__body__rank
                                .comments__comments-grid__item__body__rank_title Алла Онишко
                                .comments__comments-grid__item__body__rank_job Косметолог
                                .comments__comments-grid__item__body__rank_country <i class="mapy"></i> Россия
                                .comments__comments-grid__item__body__rank_country <i class="star20x19"></i> <i class="star20x19"></i> <i class="star20x19"></i> <i class="star20x19"></i> <i class="star20x19"></i>
                        .comments__comments-grid__item__body_txt Спасибо огромное за возможность учиться именно у Вас (хоть и дистанционно)! Как лично на мой взгляд, очень познавательно! Когда я обучалась ПМ (2 мес. назад), делать растушевки штрихом вообще не учили! Продолжаю тренироваться дальше  и на бумаге, и на латекса и на модели - я реально вижу результат! И учебник тоже КЛАСС - все по сути и то, что надо знать мастеру! (После учебы  мне тоже скинули несколько учебников - о-о-очень много воды). P.S. У Вас Елена очень красивые работы, и при этом еще и очень доходчиво получается - в своих видеоуроках, объяснить принцип работы! Спасибо Вам!

