h = 100px
.header
    position fixed
    top 0px
    left 0px
    height h
    width 100%
    background #fff
    z-index 100000
    @media screen and (max-width: 1200px)
        height 80px
              
    
    &__content
        max-width 1300px
        min-width 280px
        margin 0 auto
        clearfix()
        position relative
        @media screen and (max-width: 1300px)   
            max-width 100%
            padding 0 20px
            
        &--mobilecall
            @media screen and (max-width: 1100px)  
                max-width 300px
                padding 0
            
            
            
        
        
    &__logo-block
        display inline-table
        float left
        height h
        width 273px
        @media screen and (max-width: 1200px)
            height 80px
        @media screen and (max-width: 760px)
            width 155px
            
         
        &_logo
            display block
            width 100%
            height auto

            
    &__navigate
        padding-left 90px
        float left
        height h
        display inline-table
        @media screen and (max-width: 1200px)
            display none
            
        &--mobile
            display table
            width 100%
            padding 0
            height 380px
            
            .header__navigate__topmenu__item
                display block
                text-align center
                margin 0 
                padding 30px 0
                @media (max-width: 400px)
                    padding 20px

            
             
        &__topmenu
            display block
            
            &__item
                display inline-block
                margin 0 16px
                &:first-child
                    margin-left 0px
                &:last-child
                    margin-right 0px
                    
                &:hover
                    .header__navigate__topmenu_link
                        color colfirm
                        &:before
                            border-bottom dotted 1px colfirm
                            
                        
                            
                            

            &_link
                position relative
                display inline-block
                text-transform uppercase
                color #9a9a9a
                font-size 13px
                line-height 1
                m-speed(.4s)
                
                &:before
                    content '';
                    position absolute
                    display block
                    width 100%
                    height 1px
                    bottom -2px
                    left 0px
                    border-bottom dotted 1px #9a9a9a
                    m-speed(.4s)
                    
                &:visited
                    color #9a9a9a
                                 
                &:active
                    color #9a9a9a
                    
    &__phone-block
        float right
        width 195px
        display inline-table
        height h
        @media screen and (max-width: 1200px)
            display none
            
        
        &_phone
            display block
            text-align right
            font-size 18px
            line-height 28px
            color coltxt
            white-space nowrap
            float right
        
        
        &_call
            text-align right
            font-size 18px
            line-height 28px
            color colfirm
            display inline-block
            position relative
            float right
            &:before
                content ''
                position absolute
                display block
                width 100%
                height auto
                border-bottom dotted 1px  colfirm
                left 0px
                bottom 2px
                
                
    &__burger
        position absolute
        display none
        width 38px
        height 38px
        border-radius 50%
        background colfirm
        top 20px
        right 20px
        @media screen and (max-width: 1200px)
            display block
            
        span
            position absolute
            display block
            width 20px
            height 3px
            background #fff
            top 11px
            left 9px
            
            &:before
                content ''
                position absolute
                display block
                size(100%, 100%)
                background #fff
                bottom -6px
                left 0px
                
                            
            &:after
                content ''
                position absolute
                display block
                size(100%, 100%)
                background #fff
                bottom -12px
                left 0px
                          
    &__burger-close
        position absolute
        display none
        width 38px
        height 38px
        border-radius 50%
        background colfirm
        top 20px
        right 20px
            
        span
            position absolute
            display block
            width 20px
            height 3px
            background #fff
            top 18px
            left 9px
            transform rotate(134deg)
            
            &:before
                content ''
                position absolute
                display block
                size(100%, 100%)
                background #fff
                bottom 0px
                left 0px
                transform rotate(90deg)
                
   
                