mixin header(data)

    header.header
        .header__content
            .header__logo-block
                .middle
                    img.header__logo-block_logo(src="static/img/general/logo.png" alt="zxcxdv")
                    
            nav.header__navigate
                .middle
                    ul.header__navigate__topmenu
                    
                        li.header__navigate__topmenu__item
                            a.header__navigate__topmenu_link(href="#") ЗАОЧНОЕ ОБУЧЕНИЕ  
                                    
                        li.header__navigate__topmenu__item
                            a.header__navigate__topmenu_link(href="#") ОЧНОЕ ОБУЧЕНИЕ
                                    
                        li.header__navigate__topmenu__item
                            a.header__navigate__topmenu_link(href="#") ОТЗЫВЫ О ШКОЛЕ   
                                    
                        li.header__navigate__topmenu__item
                            a.header__navigate__topmenu_link(href="#") КОНТАКТЫ
                
                
            


             