mixin kurs(data)
    
    .kurs#kurs
        .content
            .kurs__kurs-grid.clearfix
            
                article.kurs__item
                    img.kurs__item_photo(src="static/img/general/kurs1.jpg")
                    .kurs__item__content
                        h3.kurs__item__content_title Курс "штрих"
                        .kurs__item__content_desc Краткое описание курса <br> в одну две строки
                        a.kurs__item__content_reed-more#one_kurs(href="#homeblock") Подробнее
                
                article.kurs__item
                    img.kurs__item_photo(src="static/img/general/kurs2.jpg")
                    .kurs__item__content
                        h3.kurs__item__content_title Курс "волосок" 
                        .kurs__item__content_desc Краткое описание курса <br> в одну две строки
                        a.kurs__item__content_reed-more#two_kurs(href="#homeblock") Подробнее
                
                article.kurs__item
                    img.kurs__item_photo(src="static/img/general/kurs.jpg")
                    .kurs__item__content
                        h3.kurs__item__content_title Курс "штрих на латексе"
                        .kurs__item__content_desc Краткое описание курса <br> в одну две строки
                        a.kurs__item__content_reed-more#tree_kurs(href="#homeblock") Подробнее
                
                article.kurs__item
                    img.kurs__item_photo(src="static/img/general/kurs.jpg")
                    .kurs__item__content
                        h3.kurs__item__content_title Курс "волосок на латексе" 
                        .kurs__item__content_desc Краткое описание курса <br> в одну две строки
                        a.kurs__item__content_reed-more#four_kurs(href="#homeblock") Подробнее
