mixin popupcall()

    .popupcall#popupcall
        .middle
            .header__content
    
                .home__slide__article_desc.color-black <b>Оставьте нам свой телефон,</b> мы позвоним <br> и расскажем вам обо всех деталях
                form.button-block.button-block--popup
                    input.button-block_input(placeholder="Введите ваше имя" required)
                    input.button-block_input(placeholder="Введите ваш телефон" required)
                    input.button-block_input(placeholder="Введите ваш Email" required)
                    input.button.home__slide__article__form_button(type="submit" value="Узнать больше")
                    
                a.popupcall__close#closepopupcall
                    span
                

                         
            