.popupcall
    position fixed
    height 280px
    display table
    top -280px
    left 0px
    border-top solid 1px #cfcfcf
    background #fff
    width 100%
    text-align center
    z-index 99998
    m-speed(.4s)
    
    @media screen and (max-width: 1100px)
        height 430px
        display block
        top -430px
        
    
    
    &__close
        position absolute
        display block
        width 24px
        height 24px
        right  0px
        top -20px
        @media screen and (max-width: 1300px) 
            right 45px
        @media screen and (max-width: 1100px) 
            display none
        
        &:hover
            span
                background colfirm
                &:before
                    background colfirm
        
        span
            display block
            position absolute
            width 100%
            height 2px
            background #4a4a4a
            left 0px
            top 11px
            transform rotate(134deg)
            m-speed(.4s)
            &:before
                content ''
                position absolute
                display block
                width 100%
                height 100%
                top 0px
                left 0px
                transform rotate(90deg)
                background #4a4a4a
                m-speed(.4s)
                
    &__tanks
        display block
        text-align center
        
        &_icon
            margin-bottom 25px
            img
                display inline-block
                
    &__body
        position absolute
        width 100%
        height 100%
        top 0px
        left 0px
        
    &__tab
        position absolute
        display table
        width 100%
        height 100%
        top 0px
        left 0px       
        
        
        
    
#call-tanks
    display none