mixin mobile-menu

    .mobile-menu
                 
        nav.header__navigate.header__navigate--mobile#mobile-navigate
            .middle
                ul.header__navigate__topmenu
                    
                    li.header__navigate__topmenu__item
                        a.header__navigate__topmenu_link.scrl#yap2(href="#slide2") ЗАОЧНОЕ ОБУЧЕНИЕ  
                                    
                    li.header__navigate__topmenu__item
                        a.header__navigate__topmenu_link(href="http://krasnodar.tatuazh-obuchenie.ru/") ОЧНОЕ ОБУЧЕНИЕ
                                    
                    li.header__navigate__topmenu__item
                        a.header__navigate__topmenu_link.scrl(href="#comments") ОТЗЫВЫ О ШКОЛЕ   
                                    
                    li.header__navigate__topmenu__item
                        a.header__navigate__topmenu_link.mob-cont(href="#contacts") КОНТАКТЫ
                        
                a.contacts__body_contact-phone.contacts__body_contact-phone--mobile(href="tel:88005001827") <i class="phone14x14"></i> 8 (800) <b>500-18-27</b>
                a.contacts__body_contact-mail.contacts__body_contact-mail--mobile#mobileopencall  Заказать звонок
                           