.home
    position absolute
    display block
    width 100%
    height 100%
    top 0px
    left 0px
    m-speed(.4s)
    background #6f3aa3
    @media screen and (max-width: 760px)
        position relative
        display block
        height auto
        background #fff
        
   

    

    
    &__slide
        position absolute
        width 100%
        height 100%
        top 0px
        left 0px
        display none
        @media screen and (max-width: 760px)
            position relative
            display block
            height 480px
            margin-top 14px
        @media screen and (max-width: 400px)
            position relative
            display block
            height 230px
            margin-bottom 14px
        
        
        &__nav
            position absolute
            display block
            width 100%
            height 100%
            top 0px
            left 0px
            
            &__item
                position absolute
                display block
                width 66px
                height 66px
                top 50%
                left -126px
                margin-top -38px
                border-radius 50%
                cursor pointer
                &:hover
                   .home__slide__nav__item_fade
                       background colfirm
                       opacity .5
                       
                @media screen and (max-width: 1300px)     
                    left -40px
                                                
                @media screen and (max-width: 1200px)     
                    left 20px
                                          
                @media screen and (max-width: 1000px)     
                    left 10px
                    
                @media screen and (max-width: 760px)
                    display none
                       
                &--next
                    transform rotate(180deg)
                    left auto
                    right -126px
                
                       
                    @media screen and (max-width: 1300px)     
                        right -40px
                                            
                    @media screen and (max-width: 1200px)     
                        right 20px
                                          
                    @media screen and (max-width: 1000px)     
                        right 10px
                        
                    @media screen and (max-width: 760px)
                        display none
                        
                    
                &_fade
                    background #000
                    opacity .2
                    m-speed(.4s)
                    position absolute
                    display block
                    width 100%
                    height 100%
                    top 0px
                    left 0px
                    border-radius 50%
                
                
                &_stick
                    position absolute
                    display block
                    top 17px
                    left 50%
                    margin-left -7px
                    width 12px
                    height 33px
                    background url(../img/general/stick.png)
                    bgc()
            &__content
                max-width 1240px
                display block
                position relative
                margin 0 auto
                    
            
        &__slider-tab
            position absolute
            width 100%
            height 100%
            top 0px
            left 0px
            display table
            
            &--mobile-form
                @media screen and (max-width: 400px)
                    height 480px !important
                    
            
            @media screen and (max-width: 760px)
                position relative
                display table
                height 480px
                               
            @media screen and (max-width: 400px)
                position relative
                display table
                height 230px
                
            
                         

        &__article
            position relative
            display block
            margin 0 auto
            text-align center
            top 60px
            @media screen and (max-width: 1600px)
                top 30px
            @media screen and (max-width: 1000px)
                top 0px
        
            &_title
                display block
                font-size 54px
                line-height 60px
                color #fff
                font-family fonth
                margin-bottom 28px
                @media screen and (max-width: 1000px)   
                    font-size 40px
                    line-height 56px
                @media screen and (max-width: 760px)
                    font-size 20px
                    line-height 28px
                    margin-bottom 10px
                    
                
                &--process
                    color coltxt
                    
                &--form-mobile
                    @media screen and (max-width: 760px)
                        color coltxt
              
            &_desc
                display block
                font-size 20px
                line-height 28px
                color #fff
                margin-bottom 38px
                padding 0 50px
                
                @media screen and (max-width: 1200px)
                    padding 0 
                
                
                &--no-margin
                    margin 0px
                    
                    
                &--home-slider-desc
                    @media screen and (max-width: 1200px)
                        display none
                        
                                        
                &--home-mobilecall
                    @media screen and (max-width: 1200px)
                        font-size 16px
                        padding 0px
                        margin-bottom 10px
                        br
                            display none
                            
                            
                        
                    
            
            &__form
                position relative
                display block
                margin 0 auto
                width 365px
                padding-top 40px
                @media screen and (max-width: 400px)
                    width 100%
                    

                &_input
                    display block
                    margin-bottom 10px
                    border-radius 50px
                    border solid 1px #c6c6c6
                    width 100%
                    color coltxt
                    font-size 15px
                    line-height 15px
                    placeholder-color(coltxt)
                    @media screen and (max-width: 400px)
                        width 280px
                        display inline-block
                        
                
            
                &_button
                    width 100%
                    border solid 0px
                    @media screen and (max-width: 400px)
                        width 280px
                    
            &__form-desc
                display block
                margin-top 40px
                font-size 16px
                line-height 16px
                color #fff
                text-align center
                cursor pointer
                position relative
                padding 0 25px
                line-height 22px
                @media screen and (max-width: 760px)
                    display inline-block
                    font-size 12px
                    line-height 20px
                    color coltxt
                    text-align left
                    padding-left 50px
                
                &_radio
                    display inline-block
                    position relative
                    margin-right 16px
                    width 24px
                    height 24px
                    background #fff
                    border-radius 50%
                    top 6px
                    
                    @media screen and (max-width: 400px)
                        position absolute
                        display block
                        left 15px
                        top 5px
                        border solid 1px #c7c7c7
                        
                    
                    
                    
                    &:before
                        content '';
                        position absolute
                        display none
                        width 10px
                        height 10px
                        border-radius 50%
                        background colfirm
                        top 7px
                        left 7px
                        @media screen and (max-width: 400px)
                            top 6px
                            left 6px                 
                &_radio-hidden
                    width 0px
                    height 0px
                    position absolute
                    visibility hidden
                        
                        
        
                
                
        
            
        
    &--slide1
        background url(../img/general/slide1.jpg)
        bgtc()
        @media screen and (max-width: 760px)
            display block
            margin-top 80px
        @media screen and (max-width: 400px)
            margin-top 80px    
        
        
        
    &--slide2
        background url(../img/general/slide3.jpg)
        bgtc()
        @media screen and (max-width: 760px)
            display none
        
        //display block
                  
    &--slide3
        background url(../img/general/slide4.jpg)
        bgtc()
        @media screen and (max-width: 760px)
            display none
        
        //display block
        .home__slide__article_desc
            padding 0 90px
            @media screen and (max-width: 600px)
                padding 0
              
    &--slide4
        background url(../img/general/slide3.jpg)
        bgtc()
        @media screen and (max-width: 760px)
            display none
        
        //display block
                  
    &--slide5
        background url(../img/general/slide4.jpg)
        bgtc()
        @media screen and (max-width: 760px)
            display none
         @media screen and (max-width: 400px)
            display none
            margin-bottom 0px
        
        //display block
        .home__slide__article_desc
            padding 0 90px
            @media screen and (max-width: 600px)
                padding 0
              
    &--slide6
        background url(../img/general/slide2.jpg)
        bgtc()
        @media screen and (max-width: 760px)
            height 480px
            background #f8f8f8
            position absolute
            width 100%
            height 100%
            top 0px
            left 0px
              
        
    &--slide7
        background url(../img/general/slide2.jpg)
        bgtc()
        @media screen and (max-width: 760px)
            display block
        @media screen and (max-width: 760px)
            height 480px
        
        
        
#slide1
    display block
                 
.active
    .home__slide__article__form-desc_radio:before
        display block
        
        
    
    
    
    
.mobileform,
.mobiletanks
    position relative
    display none
    width 100%
    height 480px
    width 100%
    top 0px
    left 0px
    margin-bottom 14px
    
#slide6
    @media screen and (max-width: 760px)
        display none
    
#slide7
    @media screen and (max-width: 760px)
        display none
        
        
.mobile-active
    @media screen and (max-width: 760px)
        height 960px
        margin-bottom 28px
        .mobileform
            display block
        
        .mobiletanks
            display none
            
    @media screen and (max-width: 400px)
        height 695px
        margin-bottom 28px
        .mobileform
            display block
            .home__slide__slider-tab
                height 480px
              
        
        .mobiletanks
            display none

            
            .home__slide__slider-tab
                height 480px
                    
            
.mobile-mail-go
    @media screen and (max-width: 760px)
        height 960px
        margin-bottom 28px
        .mobiletanks
            display block
        .mobileform
            display none

    @media screen and (max-width: 400px)
        height 695px
        margin-bottom 28px
        .mobileform
            display none
            .home__slide__slider-tab
                height 480px

        .mobiletanks
            display block
            .home__slide__slider-tab
                height 480px
        