.process
    position relative
    display block
    height 743px
    v = 743px
    height: "calc(%s + 68px)" % v 
    @media (max-width: 800px)
        height auto
        top -150px
            
    
    .content
        top 94px 
    
    &_facebg
        position absolute
        display block
        left 0px
        background url(../img/general/facebg.jpg)
        bgc()
        top 0px
        width 100%
        height: 100%
        @media (max-width: 600px)
            top 0px
            height 540px
            background url(../img/general/facebg2.jpg)
        
    &_title
        padding-top 125px
        display block
        color coltxt
        text-align center
        padding-bottom 68px
        margin 0
        @media (max-width: 600px)
            padding-top 120px
            font-size 30px
            position relative
        
    &__process-grid
        display block
        width: 100%
        
        &__item
            width 25%
            float left
            display inline-block
            @media (max-width: 800px)
                width 100%
            
            
            &__body
                position relative
                display block
                margin 0 auto
                text-align center
                
                &__icon
                    border-radius: 50%
                    background-color: rgb(255, 255, 255)
                    box-shadow: 0px 12px 21px 0px rgba(125, 74, 255, 0.08)
                    width: 120px
                    height: 120px
                    display inline-block
                    text-align center
                    @media (max-width: 800px)
                        display block
                        margin 0 auto
                    
                    img
                        position relative
                        margin 0 auto
                &_desc
                    font-size 20px
                    line-height 28px
                    text-align center
                    margin-top 28px
                    color #676767
                    display inline-block
                    margin-bottom 60px
                        
                &--icon1
                    width 215px
                    float left
                    img
                        margin-top 30px
                        
                     @media (max-width: 800px)
                         float none
                         margin-bottom 25px

                                
                &--icon2
                    width 100%
                    img
                        margin-top 30px

        
                                        
                &--icon3
                    width 135px
                    img
                        margin-top 30px

                                                
                &--icon4
                    width 100%
                    img
                        margin-top 30px

        
        
        