mixin process(data)

    section.process#process
        .process_facebg
                        
            .button-block.kurs__button-block
                a.button(href="#") Згрузить еще
                
        .content
            h4.home__slide__article_title.home__slide__article_title--process.process_title#process Как это будет?
            .process__process-grid
            
                .process__process-grid__item
                    .process__process-grid__item__body.process__process-grid__item__body--icon1
                        .process__process-grid__item__body__icon
                                img(src="static/img/general/icon1.png")
                                
                        p.process__process-grid__item__body_desc Оформление заявки <br> на курс
                    
                
                .process__process-grid__item
                    .process__process-grid__item__body.process__process-grid__item__body--icon2
                        .process__process-grid__item__body__icon
                                img(src="static/img/general/icon2.png")
                                
                        p.process__process-grid__item__body_desc Выполнение ежедневных <br> занятий
                    
                        
                
                .process__process-grid__item
                    .process__process-grid__item__body.process__process-grid__item__body--icon3
                        .process__process-grid__item__body__icon
                                img(src="static/img/general/icon3.png")
                                
                        p.process__process-grid__item__body_desc Экзамен
                    
                    
                .process__process-grid__item
                    .process__process-grid__item__body.process__process-grid__item__body--icon4
                        .process__process-grid__item__body__icon
                                img(src="static/img/general/icon4.png")
                                
                        p.process__process-grid__item__body_desc Получение сертификата <br> о прохождении
                    
    